body {
  width: 95%;
  margin: auto;
  font-family: Helvetica, sans-serif;
  font-weight: lighter;
}

div {
  text-align: center;
}

#left-content {
	position: relative;
	display: inline-block;
  width: 35%;
  margin: 0;
  padding: 0;
}

#right-content {
	position: absolute;
	display: inline-block;
  width: 64%;
  margin: 0;
  padding: 0;
}


/*left-content*/

.main-title {
  font-weight: lighter;
  margin: 10px;
  font-size: 50px;
  border-bottom: 1px solid gray;
}

.stat-holder {
  margin: 50px;
  font-size: 25px;
}

button {
  display: inline-block;
  width: 75px;
  margin: 15px;
}

#help {
  color: white;
  width: 25px;
  height: 25px;
  border-radius: 15px
}


/*right-content*/

#nums {
  display: inline-block;
  margin-top: 5%;
}

#nums a {
  display: block;
  font-size: 45px;
  text-decoration: none;
  margin: 10px 0;
  color: gray;
  height: 50px;
  width: 50px;
  border-radius: 10px;
  background-color: #eee;
}

table {
  border-collapse: separate;
  border-spacing: 0;
  display: inline-block;
  float: right;
  margin: 1% 1% 0 0;
}

td {
  color: black;
  border: 1px solid white;
  background-color: #cecece;
  width: 68px;
  height: 68px;
  text-align: center;
  font-size: 40px;
  margin: 0;
  padding: 0;
}

td:hover {
  background-color: #eee;
  cursor: pointer;
}

.selected {
  background-color: #eee;
}

.col-2, .col-5 {
	border-right: 6px solid white;
}

.row-2 td, .row-5 td {
	border-bottom: 6px solid white;
}

