* {
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

body {
  width: 95%;
  margin: auto;
  font-family: Helvetica, sans-serif;
  font-weight: lighter;
  background-color: white;
}

div {
  text-align: center;
}

#left-content {
	position: relative;
	display: inline-block;
  width: 35%;
  margin: 0;
  padding: 0;
}

#right-content {
	position: absolute;
	display: inline-block;
  width: 64%;
  margin: 0;
  padding: 0;
  pointer-events: none;
}

/*left-content*/

.main-title {
  font-weight: lighter;
  margin: 10px;
  font-size: 50px;
  border-bottom: 1px solid gray;
}

.stat-holder {
  margin: 50px 0;
  font-size: 25px;
}

.level-button {
  display: inline-block;
  width: 80px;
  border-radius: 50%;
  display: inline;
  color: white;
  opacity: .3;
}

.level-button:hover {
  opacity: 1;
}

.selected-level {
  opacity: 1;
}

#easy {
  background-color: #96ec83;
}

#medium {
  background-color: #ecca83;
}

#hard {
  background-color: #ec8388;
}

.play-pause {
  width: 50px;
  height: 50px;
  display: inline-block;
  line-height: 50px;
  font-size: 45px;
  color: #777;
}

.play-button:hover {
  color: #96ec83;
  cursor:pointer;
}

.pause-button:hover {
  color: #ec8388;
  cursor:pointer;
}

#help {
  color: white;
  width: 25px;
  height: 25px;
  border-radius: 15px
}


/*right-content*/

#nums {
  display: inline-block;
  margin-top: 5%;
}

.num {
  display: block;
  font-size: 45px;
  line-height: 50px;
  vertical-align: middle;
  text-decoration: none;
  margin: 10px 0;
  color: gray;
  height: 50px;
  width: 50px;
  border-radius: 10px;
  background-color: #eee;
  -webkit-transition: all 0.25s ease; 
  -moz-transition: all 0.25s ease; 
  -o-transition: all 0.25s ease; 
  -ms-transition: all 0.25s ease; 
  transition: all 0.25s ease;
}

.num:hover {
  color: black;
  font-size: 30px;
  line-height: 50pxpx;
}

table {
  border-collapse: separate;
  border-spacing: 0;
  display: inline-block;
  float: right;
  margin: 1% 1% 0 0;
}

td {
  color: black;
  border: 1px solid white;
  background-color: #cecece;
  width: 68px;
  height: 68px;
  text-align: center;
  font-size: 40px;
  margin: 0;
  padding: 0;
  -webkit-transition: all 0.25s ease; 
  -moz-transition: all 0.25s ease; 
  -o-transition: all 0.25s ease; 
  -ms-transition: all 0.25s ease; 
  transition: all 0.25s ease;
}

td:not(.selected):hover {
  background-color: #eee;
  cursor: pointer;
}

td.full:hover {
  background-color: #cecece;
  cursor: default;
}

.notes {
  display: inline;
  font-size: 12px;
  width: 100%;
  padding: 5px;
}

.selected:hover {
  cursor: pointer;
}

.incorrect {
  background-color: #ec8388;
}

.selected {
  background-color: #96ec83;
}

.note-tile {
  background-color: #ecca83;
}

.note-tile:hover {
  background-color: #ecca83 !important; 
}

.given {
  color: #777;
}

.col-2, .col-5 {
	border-right: 6px solid white;
}

.row-2 td, .row-5 td {
	border-bottom: 6px solid white;
}

