

#left-content {
	position: relative;
	display: inline-block;
  width: 35%;
  margin: 0;
  padding: 0;
}

#right-content {
	position: absolute;
	display: inline-block;
  width: 64%;
  margin: 0;
  padding: 0;
}

table {
  border-collapse: separate;
  border-spacing: 0;
  margin: auto;
}

td {
  color: black;
  border: 1px solid white;
  background-color: lightgray;
  width: 68px;
  height: 68px;
  text-align: center;
  font-size: 40px;
  margin: 0;
  padding: 0;
}